<!DOCTYPE html>
<html>
<head>
<script language="javascript" src="/static/js/rts.js"></script>
<script language="javascript" src="/static/js/lib.js"></script>
<script language="javascript" src="/static/js/out.js"></script>
<script language="javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>	
<body>
<link rel="stylesheet" type="text/css" href="/static/css/default.css"/>
<div id="difficulty">{{difficulty}}</div>
<div id="reflex-area"></div>
</body>
<script language="javascript" src="/static/js/runmain.js" defer></script>
</html>
