body {
	background-color:#d7e0d1;
}

.molePic {
  width:144px;
  height:140px;
  float:left;
}

div#timeLeft{
  clear: both;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: width 200ms;
}
